/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/
body {
  font-family: "Times New Roman", serif;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

@media(min-width: 900px){
  .centreItem {
    margin-bottom: 50px;
    margin-left: 250px; 
  }

  .containerBorder {
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid #0000001a;
    padding-top: 50px;
  }
}

.spinner {
  margin-left: 50%;
  margin-top: 100px;
}

.postdiv {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  width: 100%;
  height: 200px;
  border: 1px solid #0000001a;
}

.gifbutton {
  margin: 10px;
  border: 2px solid #9575CD;
  border-radius: 15px;
  width: 100px;
  height: 35px;
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: #0000000a;
  padding-top: 5px;
  margin-bottom: 30px;
}

@media(min-width: 900px){
  .gifbutton {
    width: 140px;
    height: 40px;
    font-size: 1em;
    border-radius: 20px;
    padding-top: 7px;
  }
}


.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.onhover :hover {
  background-color: #0000001a;
}

.comment {
  width: 80%;
  border: hidden;
}

.commentFlex {
  display: flex;
  align-items: flex-end;
}


